*{
    margin: 0;
    padding: 0;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Navigation Section */
#web-nav{
    display: flex;
    justify-content: space-around;
    padding-top: 24px;
    padding-bottom: 24px;
}
#web-nav .nav-list{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
.btn{
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    background-color: forestgreen;
    color: rgb(228, 195, 8);
}
/* Main/Banner Section */
#hero-banner{
    width: 100%;
    height: 674px;
    background: url(../assets/hero-bg.png) ,#001931;
    display: flex;
    align-items: center;
}
 #hero-banner .banner-content{
    text-align: center;
    max-width: 1360px;
    height: 295px;
    margin: 0 auto;

}
#hero-banner .bf-btn{
    background-color: #FFFFFF;
    color: #469165;
    padding: 8px 12px;
    border: none;
    border-radius: 1000px;
}
#hero-banner .bf-btn:hover{
    background-color: green;
    cursor: pointer;
    color: white;
}
#hero-banner p{
    color: #FFFFFF;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 32px;
}
#hero-banner .btn{
    background-color: #469165;
    color: #FFFFFF;
}
#hero-banner .btn:hover{
    background-color: #30B868;
    color: blueviolet;
}
#hero-banner .btn-2{
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: transparent;
    border:  .5px solid white;
    cursor: pointer;
    margin-left: 16px;
}
#hero-banner .btn-2:hover{
    background-color: blueviolet;
    color: gray;
}
#hero-banner h1{
    font-size: 72px;
    font-weight: 700;
}
h1 .struck{
    color: #FFFFFF;
}
h1 .not{
    color: #30B868;
}
