*{
    margin: 0;
    padding: 0;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Navigation Section */
#web-nav{
    display: flex;
    justify-content: space-around;
    padding-top: 24px;
    padding-bottom: 24px;
}
#web-nav .nav-list{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
.btn{
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    background-color: forestgreen;
    color: rgb(228, 195, 8);
}
/* Main/Banner Section */
#hero-banner{
    width: 100%;
    height: 674px;
    background: url(../assets/hero-bg.png) ,#001931;
    display: flex;
    align-items: center;
}
 #hero-banner .banner-content{
    text-align: center;
    max-width: 1360px;
    height: 295px;
    margin: 0 auto;

}
#hero-banner .bf-btn{
    background-color: #FFFFFF;
    color: #469165;
    padding: 8px 12px;
    border: none;
    border-radius: 1000px;
}
#hero-banner .bf-btn:hover{
    background-color: green;
    cursor: pointer;
    color: white;
}
#hero-banner p{
    color: #FFFFFF;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 32px;
}
#hero-banner .btn{
    background-color: #469165;
    color: #FFFFFF;
}
#hero-banner .btn:hover{
    background-color: #30B868;
    color: blueviolet;
}
#hero-banner .btn-2{
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: transparent;
    border:  .5px solid white;
    cursor: pointer;
    margin-left: 16px;
}
#hero-banner .btn-2:hover{
    background-color: blueviolet;
    color: gray;
}
#hero-banner h1{
    font-size: 72px;
    font-weight: 700;
}
h1 .struck{
    color: #FFFFFF;
}
h1 .not{
    color: #30B868;
}
#hero-note-card .note-div{
    max-width: 1360px;
    height: 117px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}
#hero-note-card .note-div h2{
    margin-bottom: 16px;
}
.hero-card{
    max-width: 1360px;
    display: flex;
    margin: 0 auto;
    background-color: #FFFFFF;
    gap: 24px;
    padding: 24px;
    justify-content: space-around;
    text-align: center;
}
.card{
    width: 322px;
    justify-content: center;
    box-shadow: 0 0 10px gray;
    border-radius: 8px;
    align-items: center;
    padding: 46px 24px;
}
.hero-card .card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 12px;
    margin-bottom: 16px;
}
.hero-card h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #001931;
}
.hero-card p{
    color: #627382;
    line-height: 20px;
}
#img-text-parent{
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
#img-text-parent .solution-text .ts{
    color: #469165;
    margin-bottom: 16px;
}
#img-text-parent .solution-text h2{
    color: #001931;
    font-size: 48px;
    margin-bottom: 16px;
}
#img-text-parent .personal{
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}
#img-text-parent .capture{
    color: #001931;
    line-height: 20px;
}
#ready-parent{
    max-width:1360px ;
    height: 384px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #F7F6F2;
    margin-top: 120px;
}
#ready-parent .ready-text{
    text-align: center;
    padding: 80px 40px;
}
.ready-text h3{
    color: #001931;
    font-size: 40px;
    margin-bottom: 16px;
}
.ready-text .jhon{
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}
.ready-text .free{
    color: #627382;
    margin: 16px;
}

/* Footer aarea */
#ktv-parent{
     background-color: #001931;
}
.ktv{
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 120px;
    padding-top: 120px;
}
.ktv .social{
    line-height: 28px;
    color: #FFFFFF;
}
#ktv-parent .copyright{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FAFAFA;
    line-height: 24px;
    text-align: center;
    border-top: 1px solid gray;
    margin: 0 auto;
    width: 1360px;
    margin-top: 80px;
}
